body{
    background-color: #fafafa;
}

div h1{
    font-family: "McLaren", cursive;
}

footer{
    clear: both;
    width: 100%;
    text-align: center;
    position: absolute;
    height: 2.5rem;
    bottom: 0;
}

footer p{
    color: #ccc;
}




input{
    border: 1px solid #305973;
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 30px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #305973;
    font-weight: 300;
    
}

/* 
button{
    appearance: none;
    outline: 0;
    background-color: black;
    border: 0;
    padding: 10px 15px;
    color: #bbe1fa;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
} */

.signInContainer{
    text-align: center;
    height: 500px;
    width: 500px;
    position: relative;
    left: 650px;
    border: 10px black solid;
}

.SearchBar {
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}

.SearchBar input {
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.73);
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
}

.SearchBar ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
}

.SearchBar ul::before{
    content: "";
}

.SearchBar li {
    padding: 10px 5px;
    cursor: pointer;
}

.SearchBar li:hover {
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0.20);
}