header {
    background-color: #3282b8;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    display: inline-block;
  }


footer{
    clear: both;
    width: 100%;
    text-align: center;
    position: absolute;
    height: 2.5rem;
    bottom: 0;
}

footer p{
    color: #ccc;
}

.SignInBackground{
    background-color: #bbe1fa;
    width: 1000px;
    height: 600px;
    display: inline-block;
}

.SignInBackgroundContainer{
    text-align: center;
    margin-top: 40px;
}

input{
    font-family:Helvetica, Arial, sans-serif;
    font-size:20pt;
    line-height:2.6em;
    margin:20px;
    padding:0;
    width:50%
    
}

button{
    
    color: #444444;
    background-color: #F3F3F3;
    border: 1px #DADADA solid;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    font-family:  "Times New Roman", Times, serif;
    display: block;
    position:relative;
    top: 100px;
    margin: 0;
    left: 45%;
    padding: 10px 30px 10px 30px;
}

img{
    position: relative;
    display: inline-block;
    width: auto;
    height: 50px;
    top: 10px;
    right: 10px;
}